# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/
*.class

# Eclipse files
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

# Logs
logs/
*.log
*.log.*
*.access
*.trace

# IntelliJ IDEA code style files
codestyles/
*.code-workspace

# Spring Boot DevTools files
.restart*

# Other
.DS_Store
target/